/*!
 * 
 *               Build Date: 2/20/2024, 3:10:32 PM
 *
 */
/*!***********************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./App.css ***!
  \***********************************************************/
body {
    background-color: green;
    background-image: url(72b3432eb3c51320ae15.jpeg);
}
  
div {
    color: green
}
